/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */
/*this is the default background color for our container - light blue*/
	
	.container{
		background-color:rgba(0,0,255,0.5);
	}

	div{
		background-color:rgba(0, 0, 255, 0.5);
	}


	.spacer{
		margin-bottom:26px;
	}



/* =============================================================================
   Page Styles
   ========================================================================== */

/* Advanced grid specific styles */

.big_div{
	height:412px;
}

.little_div{
	height:120px;
}




/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {
	
	.container{
		background-color:rgba(255, 0, 0, 0.5);
	}

	.spacer{
		margin-bottom:16px;
	}

}


/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	.container{
		background-color:rgba(0,255,255,0.5);
	}

	.spacer{
		margin-bottom:0px;
	}

}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container{
		background-color:rgba(255,100,0,0.5);
	}
}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {
	.container{
		background-color:rgba(255,255,0,0.5);
	}

	.spacer{
		margin-bottom:0px;
	}

}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
